.myContainer {
  width: 100%;
}
.content {
  width: 300px;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.418);
}
.coverBook {
  width: 100%;
  border-bottom: 1px solid rgb(201, 169, 169);
  border-radius: 30px;
  margin-bottom: 1rem;
}
.details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15%;
}
.details p {
  font-weight: 900;
  color: gray;
}
.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: gray;
}
.author {
  font-size: 1rem;
  font-weight: 900;
  color: gray;
}
.yearPublished {
  font-size: 1rem;
  font-weight: 900;
  color: gray;
}
.prevBtn {
  width: 70%;
  padding: 5px;
  background: linear-gradient(to right, #0d9488, rgba(255, 166, 0, 0.493));
  color: white;
  font-weight: 900;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
}
.appContainer {
  text-align: center;
  padding: 20px;
}

.searchBar {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.searchBar:focus {
  outline: none;
}
.booksList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.buttons {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 0;
}
.delBtn {
  padding: 5px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 20px;
  background-color: red;
  cursor: pointer;
  font-size: 0.8rem;
}
